<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<meta charset="utf-8">
		<title>Film-krysset</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
		</script>
		<script src="js/bootstrap.min.js"></script>
		<h1>Action-Krysset</h1>
		<p> </p>
		<section class="jumbotron">
    		<div class="container">
      			<div class="row text-center">
      				<h1>10/12 Rätt</h1>
					<img src=/static/congratz.gif width="400" height="200"/>
      			</div>
    		</div>
  		</section>
  		<br />
        <p> Stort Grattis! <br /> Du är en riktig Film-expert trots allt! <Br /> Testa gärna ett av de andra kryssen och se om du lyckas lika bra med dem!</p>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<p id = "footer">&copy; Fathima</p>
	</body>
</html>