<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<meta charset="utf-8">
		<title>Film-krysset</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
		</script>
		<script src="js/bootstrap.min.js"></script>
		<section class="jumbotron">
    		<div class="container">
      			<div class="row text-center">
					<h1 class="completed-text">Grattis! Du fick {{ correct }} av {{ total }}</h1>
					<br />
					<br />
					<img src=/static/congratz.gif width="400" height="200"/>
      			</div>
    		</div>
  		</section>
  		<br />
		<br />
		<p class="col-sm-12"><a href="{% url 'start_page' %}">
   		 Till startsidan
		</a></p>
		<br />
		<br />
		<p id ="footer" class="col-sm-4">&copy; Fathima</p>
	</body>
</html>