<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
		<meta charset="utf-8">
		<title>Film-krysset</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
		</script>
		<script src="js/bootstrap.min.js"></script>
		<section class="jumbotron">
    		<div class="container">
      			<div class="row text-center">
        			<h2>Välkommen till årets bästa Film-kryss</h2>
      			</div>
    		</div>
  		</section>
		<p>Kallar du dig själv för Film-expert expert? Har du koll på flera populära filmer som sändts genom åren? <br /> Då ska du defintivt testa dina kunskaper i de olika kryssen nedan. <br /> Vi har skapat tre film-kryss i genrena  Action, Drama och Komedi. <br /> May the force be with you! </p>
		<br />
		<br />
		<br />
		<img src="">
		<div class="container">
			<div class="row">
				<a href:"">
					<div class="col-md-4">Action</div>
				</a>
				<a href:"">
					<div class="col-md-4">Drama</div>
				</a>
				<a href:"">
					<div class="col-md-4">Komedi</div>
				</a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<footer class="container">
  			<div class="row">
     			<p class="col-sm-4">
       			  &copy; Fathima
    			</p>
   			</div>
  		</footer>
	</body>
</html>