<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<meta charset="utf-8">
		<title>Film-krysset</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
		</script>
		<script src="js/bootstrap.min.js"></script>
		<section class="jumbotron">
    		<div class="container-fluid">
      			<div class="row text-center">
        			<h2>Välkommen till årets bästa Film-kryss</h2>
        			<h5>Kallar du dig själv för Film-expert expert? <br /> Har du koll på flera populära filmer som sändts genom åren? <br /> Då ska du defintivt testa dina kunskaper i de olika kryssen nedan! <br /> Vi har skapat tre film-kryss i genrena  Action, Drama och Komedi. <br /> May the force be with you! </h5>
      			</div>
    		</div>
  		</section>
		<br />
		<br />
		<br />
	{% for quiz in quizzes %}
    	<p class="startpage-paragraph"><a href="{% url 'quiz_page' quiz.quiz_number %}">
        {{ quiz.name }}
   		 </a></p>
	{% endfor %}
		<img src="">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<p id ="footer" class="col-sm-4">&copy; Fathima</p>
	</body>
</html>