<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<meta charset="utf-8">
		<title>Film-krysset</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
		</script>
		<script src="js/bootstrap.min.js"></script>
		<section class="jumbotron">
    		<div class="container">
      			<div class="row text-center">
        			<h2>Välkommen till årets bästa Film-kryss</h2>
      			</div>
    		</div>
  		</section>
		<p>Kallar du dig själv för Film-expert expert? Har du koll på flera populära filmer som sändts genom åren? <br /> Då ska du defintivt testa dina kunskaper i de olika kryssen nedan. <br /> Vi har skapat tre film-kryss i genrena  Action, Drama och Komedi. <br /> May the force be with you! </p>
		<br />
		<br />
		<br />
		{% for quiz in quizzes %}
		<p>{{ quiz.name }}</p>
		{% endfor %}
		<img src="">
		<div class="container">
			<div class="row">
				<a href:"">
					<div class="col-md-4">Action</div>
				</a>
				<a href:"">
					<div class="col-md-4">Drama</div>
				</a>
				<a href:"">
					<div class="col-md-4">Komedi</div>
				</a>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<p id = "footer">&copy; Fathima</p>
	</body>
</html>