body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	width: 100%;
	background-color: #FFFF00;
}


h2 {
	color: #FFFF00;
	font-size: 40px; 
}


p {
	color: #FFFF00;
	font-size: 25px;
	text-align: center;
}

a {
	color: #FFFF00;
	text-align: center;
}

#footer {
	color: Grey;
	font-size: 12px;
	text-align: left;

}


.startpage-paragraph {
	font-size: 25px;
	text-align: center;
}

.completed-text {
	color: #FFFF00;
	font-size: 40px; 
	text-align: center;
}

.quiz-header {
	color: #000000;
	font-size: 25px; 
	text-align: center;
}

.quiz-list {
	font-size: 25px; 
	text-align: center;
}

.question-header {
	color: #000000;
	font-size: 25px; 
	text-align: center;
}

.jumbotron {
  display: flex;
  background-color: #000000;
  align-items: center;
  background-size: cover;
  color: #FFFF00;
  height: 100%;
  width: 100%;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.question-answers {
	color: #000000;
	font-size: 25px; 
	text-align: center;
}

form {
	color: #000000;
	font-size: 25px; 
	text-align: center;
	margin-bottom: 10;
}

.black {
  background-color: #000000;
  box-shadow: 0px 5px 0px 0px #000000;
  color: #FFFF00;
}

.black:hover {
  background-color: #000000;
}

