body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	color: DarkSlateGray;
	font-size: 56px; 
}



#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
